.todo-list-main .todo-form{    
    background-color: rgb(146, 230, 255);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 300px;    
}

.todo-list-main .todo-form input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 200px;
}

.todo-list-main .todo-form button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.todo-list-main .todo-form button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}



